$color: salmon;
$pacman: orange;

h1, p
{
    font-family: pac0;
    text-align: center;
    font-size: 6rem;

    &:first-child
    {
        &:hover
        {
            color: $color;
        }
    }
}

p
{
    color: $pacman;
}

.item
{
    color: $color;
}

.contNav
{
    background-color: #333;

    .nav 
    {
        width: 250px;
        background: pink;

        li
        {
            list-style: none;
            padding: 10px;
            border-bottom: 1px solid #000;

            &:first-child
            {
                background: #000;
                color: #fff;
            }
        }
    }
}

// @mixin @function @extend