$background_color_gradient : #280E2F, #121345;
$text_color : #FFFFFF;
$pacman : #FFC300;

body
{
    background: linear-gradient(0.25turn, $background_color_gradient);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#title
{
    font-family: pac0;
    text-align: center;

    width: 70em;
    margin: 0 auto;

    h1
    {
        color: $text_color;
        font-size: 6em;
        text-shadow: #776F87 4px 5px;
        animation: scale 3s infinite;


    }

    p
    {
        color: $pacman;
        font-size: 4em;
        letter-spacing: 0.3em;
    }

    i
    {
        color: $pacman;
        font-size: 2em;

        text-align: end;
    }
}

@keyframes scale
{
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

#terminal
{
    border: black 0.5em solid;
    border-radius: 2em;

    width: 70em;
    height: 30em;

    margin: 0 auto;
    margin-top: 3em;

    background-color: rgba(0, 0, 0, 0.3);

    p
    {
        color: $pacman;
        font-size: 1em;
        margin: 1em;

        span
        {
            text-decoration: underline;
        }

        input
        {
            color: $text_color;
            caret-color: #FFC300;
            background-color: rgba(0, 0, 0, 0);
            border: none;
            width: 50em;
            outline: none;
            font-size: 1em;
        }
    }
}

.description
{
    margin: 0 auto;

    article
    {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 3em;

        div
        {
            border: #FFFFFF 1px solid;
            border-radius: 1em;
            box-shadow: #776F87 4px 5px;
            padding: 1em;
            width: 15rem;
            height: 20rem;

            p
            {
                color: $text_color;
            }
        }
    }

    h2
    {
        color: $text_color;
        font-size: 2em;
        text-align: center;
    }
}

#project
{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
    grid-gap: 1em;
    margin-top: 3em;

    justify-items: center;
    align-items: center;

    div
    {
        width: 20rem;

        p
        {
            color: $text_color;
        }
    }
}

footer
{
    margin-top: 3em;

    article
    {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 1em;

        text-align: center;

        div
        {
            a
            {
                text-decoration: none;

                i
                {
                    font-size: 2em;
                    color: #FFFFFF;
                }
    
                p
                {
                    font-size: 1.5em;
                    color: $text_color;
                }
            }
        }

        :hover
        {
            p, i
            {
                color: $pacman;
            }

            transform: scale(1.1);
        }
    }
}

@media screen and (max-width: 1600px) 
{
    #title
    {
        width: 60em;

        h1
        {
            font-size: 5rem;
        }
    }
}

@media screen and (max-width: 1200px)
{
    #title
    {
        width: 50em;

        h1
        {
            font-size: 4rem;
        }
    }

    #terminal
    {
        width: 30em;
        height: 30em;

        p
        {
            input
            {
                width: 15em;
            }
        }
    }
}

@media screen and (max-width: 1000px)
{
    #title
    {
        width: 40em;

        h1
        {
            font-size: 4rem;
        }
    }
}

@media screen and (max-width: 850px)
{
    #title
    {
        width: 40em;

        h1
        {
            font-size: 3rem;
        }

        p
        {
            font-size: 2rem;
            letter-spacing: 0.3em;
        }
    }
}

#cmd {
    background-color: black;
    color: white;
    font-family: monospace;
    height: 300px;
    padding: 10px;
  }
  
  #output {
    margin-bottom: 10px;
  }
  
  #input {
    background-color: transparent;
    border: none;
    color: white;
    font-family: monospace;
    font-size: inherit;
    margin: 0;
    padding: 0;
    width: 80%;
  }
  
  #submit {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-family: monospace;
    font-size: inherit;
    margin: 0;
    padding: 0;
  }

// TODO : 
// Clean with mixins / extends ...
// Add some grid for projects
// Structure folder and files