$background_color_gradient : #280E2F, #121345;
$text_color : #FFFFFF;
$pacman : #FFC300;

body
{
    background: linear-gradient(0.25turn, $background_color_gradient);
}

#title
{
    font-family: pac0;
    text-align: center;
}

h1 + p
{
    color: $pacman;
    font-size: 4em;
    letter-spacing: 0.3em;
}

h1
{
    color: $text_color;
    font-size: 6em;
    text-shadow: #776F87 4px 5px;
    animation: scale 3s infinite;
}

h2
{
    color: $text_color;
}

@keyframes scale
{
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

p
{
    color: $text_color;
}

#etude
{
    section
    {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 3em;
    }

    h2
    {
        font-size: 2em;
        text-align: center;
    }
}

#etude > section > div
{
    border: #FFFFFF 1px solid;
    border-radius: 1em;
    padding: 1em;
    width: 15rem;
    height: 20rem;
}